<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="/static/header_file.css">
<link rel="stylesheet" type="text/css" href="/static/footer_file.css">
<link rel="stylesheet" type="text/css" href="/static/main.css">
<link rel="stylesheet" type="text/css" href="/static/audio_to_text.css">
<script src="/static/recorder.js"></script>
<script src="/static/audiodisplay.js"></script>
<script src="/static/main.js"></script>
<script src="/static/recorderWorker.js"></script>

<style>
.section-title {
	font-size: 3rem;
	font-weight: 100;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
</style>



</head>
    <body>
        
            <h1 class="section-title"> Speech To Text <span></span></h1>
   <br><br>
<br>
<br>
<br>
<br>

    <div id="loader">
        <div class="row " style="position:relative;">
            <div class="column1">
                <h2>Record Audio</h2>
                    <p>
                        <button id="start" class="btn btn-success" onclick="startRecording()">Start</button>
                        <button id="stop" class="btn btn-danger" onclick="stopRecording()" >Stop</button>
                    </p>
            </div>
            <div class="column2" >
                <h2>Audio Prediction</h2>
                <p class="glow" id="output" style="font-size: 20px;"></p>
                
                
            </div>
        </div>
    </div>
        </body>
    
</html>